
body {
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    overflow: scroll;
    background-color:black;

}

.photo-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;     
     
}

img {
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-width: 4px ;
    border-color: whitesmoke;
    margin-bottom: 20px;
}


.title {
color: whitesmoke;
font-size: 100px;
font-family: 'Times New Roman', Times, serif;
font-style: oblique;
text-align: center;


}

